body {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    margin: 50px;
    padding: 0;
    background-size: contain; 
    background-repeat: repeat;
}
header {
    color: #f6f3ef;
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 0px;
    text-align: center;
}
nav {
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 0px;
    text-align: center;
}
nav a {
    color: #f6f3ef;
    text-decoration: none;
    padding: 10px;
    font-family: 'Neue Montreal Bold', sans-serif; font-style: normal;
}
nav a:hover {
    background-color: #999;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.carousel {
    flex: 1;
    max-width: 30%; 
    height: auto; 
    margin-right: 20px;
}
.carousel img {
    max-width: 100%; 
    height: auto; 
}
section {
    flex: 1;
    max-width: 70%;
    padding: 20px;
    text-align: justify;
    color: #f6f3ef;
}
.article-content {
    text-align: justify;
    color: #f6f3ef;
}
.article-content p {
    margin: 10px 0;
    font-family: 'IM Fell English', serif;
    font-style: italic;
}
footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}
a {
    color: #f6f3ef; 
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}